<style>
    .bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
        padding-left: 18px;
        font-weight: 700;
        color: #00b38a;
        background-color: transparent;
        border-left: 2px solid #00b38a;
    }
    .bs-docs-sidebar .nav>li>a {
        display: block;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 500;
        color: #767676;
    }
</style>
<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
    <ul class="nav bs-docs-sidenav">

        <li>
            <a href="#pager-scroll">分页</a>
        </li>
        <li>
            <a href="#modal-scroll">模态</a>
        </li>
        <li>
            <a href="#label-scroll">标签</a>
        </li>
        <li>
            <a href="#thumbnail-scroll">缩图</a>
        </li>
        <li>
            <a href="#btn-groups">按钮组</a>
            <ul class="nav">
                <li><a href="#btn-groups-single">基本实例</a></li>
                <li><a href="#btn-groups-toolbar">按钮工具栏</a></li>
                <li><a href="#btn-groups-sizing">尺寸</a></li>
                <li><a href="#btn-groups-nested">嵌套</a></li>
                <li><a href="#btn-groups-vertical">垂直排列</a></li>
                <li><a href="#btn-groups-justified">两端对齐排列的按钮组</a></li>
                <li><a class="back-to-top" href="#top">返回顶部</a></li>
            </ul>
        </li>

    </ul>


</nav>