
<div class="container margin-top-10">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> 管理后台</a></li>
                <li><a href="/">组件库</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="page-header" id="pager-scroll">
                <h1>
                    <small>分页</small>
                </h1>
            </div>
            <% include ./components/pager.html %>
            <div class="page-header" id="modal-scroll"><h1><small>模态</small></h1></div>
            <% include ./components/input.html %>
            <div class="page-header" id="label-scroll"><h1><small>标签</small></h1></div>
            <% include ./components/label.html %>
            <div class="page-header" id="thumbnail-scroll"><h1><small>缩图</small></h1></div>
            <% include ./components/thumbnail.html %>
            <div class="page-header"><h1><small>列表</small></h1></div>
            <% include ./components/list.html %>
            <div class="page-header"><h1><small>加载</small></h1></div>
            <% include ./components/loading.html %>
            <div class="page-header"><h1><small>滚动监听</small></h1></div>
            <% include ./components/test.html %>
            <div class="page-header"><h1><small>标签页</small></h1></div>
            <% include ./components/tab.html %>
            <div class="page-header"><h1><small>工具提示</small></h1></div>
            <% include ./components/toolTips.html %>
            <div class="page-header"><h1><small>弹出框</small></h1></div>
            <% include ./components/popover.html %>
            <div class="page-header"><h1><small>按钮</small></h1></div>
            <% include ./components/btn.html %>


        </div>
        <div class="col-md-3" role="complementary">
            <% include ./components/nav-sider.html %>
        </div>
    </div>
</div>

