<style>
    table th {
        width: 80px;
        text-align: right;
    }

    table td {
        text-align: left;
        max-width: 300px;
        min-width: 100px;
    }
</style><br/>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <ol class="breadcrumb">
                <li><a href="/">学院派－管理后台</a></li>
                <li><a href="/order_manager">订单管理</a></li>
                <li class="active">订单详情</li>
            </ol>
            <!--<input type="button"  class="btn btn-info btn-xs unvalidate valid" user_id=""  value="结算" />-->
            <!--{{if !settlement && status==9}}-->
            <!--{{/if}}-->
            <table id="dataTable" class="display table table-bordered">
                <tbody>

                </tbody>
            </table>
            <a href="javascript:void(0);" class=" btn btn-info btn-xs settlement" style="display: none;">设为已结算</a>

        </div>
    </div>
</div>
<script id="trTemp" type="text/x-jquery-tmpl">
    <tr class="text-center">
    <td>
     <dl class="dl-horizontal">
        <dt>老师头像</dt><dd> <img src="${teacher_head_img}" height="60px" alt=""/></dd>

        <dt>老师姓名</dt><dd>${teacher_real_name}</dd>

        <dt>老师手机</dt><dd>${teacher_phone}</dd>
        <dt>课程说明</dt><dd>${class_name}(${subject_name})</dd>
        <dt>教学方式</dt><dd>${teach_type}</dd>
        <dt>课程价格</dt><dd>${order_amount}</dd>
        <dt>教学地址</dt><dd>${teach_address}</dd>
        <dt>银行卡</dt><dd>${bank_name}</dd>
        <dt>银行账户</dt><dd>${bank_account}</dd>
        <dt>持卡人姓名</dt><dd>${account_host}</dd>
        <br/>
        <dt>订单编号</dt><dd>${order_id}</dd>
        <dt>订单状态时间</dt>
        <dd>
        <address>
                {{each org }}
                {{= $value.name}}时间:
                {{= $value.time}}
                {{html $value.br}}
               {{/each}}
</address>
        </dd>
        <dt>订单状态</dt><dd>${statusName}</dd>
        <dt>数量</dt><dd>${quantity}</dd>
        <dt>结算状态</dt>
        <dd class="settle_text text-primary" >
        {{if settlement && status==9}}
            已结算
          {{/if}}
          {{if !settlement && status==9}}
          未结算
         {{/if}}
        </dd>
    </dl>
</td>
<td>
<dl class="dl-horizontal">
<dt>学生头像</dt><dd> <img src="${student_head_img}" height="60px" alt=""/></dd>
        <dt>学生姓名</dt><dd>${student_real_name}</dd>
        <dt>学生手机</dt><dd>${student_phone}</dd>
        <dt>支付金额</dt><dd>${pay_amount}</dd>
        <dt>退款操作</dt><dd>
        {{if status==5}}
            <input class="btn btn-danger btn-xs" type="button" value="退款"/>
            {{else}}
            此订单非“退款中”
        {{/if}}

        </dd>
         </dl>
</td>







</script>
<% include ./script/moment.html  %>
<% include ./script/moment.html %>
<% include ./script/underscore.html %>
<script>
    //    var _ = _;
    var order_id = window.location.pathname.replace('/order_detail/', '');
    var Detail = function () {
        this.tbody = '#dataTable tbody';
        this.$trTemp = $('#trTemp');
        this.$settlement = $('.settlement');
        this.$recommendTxt = $('#recommended_status');
        this.statusMap = {
            "－1": "已取消",
            "0": "未支付",
            "2": "已支付",
            "3": "已上课",
            "5": "退款中",
            "7": "已退款",
            "9": "已完成"
        };
        this.init();

        this.btnStatus = {
            recommend: 'recommend',//推荐
            recommended: 'recommended'//已推荐
        };
        this.recommendStatus = {
            recommend: '未推荐',//推荐
            recommended: '已推荐'//已推荐
        };

    };

    /**
     * 订单状态在组织
     * @param order
     */
    Detail.prototype.reorg = function (order) {
        var org = [];
        if (order.ctime) {
            org.push({name: '创建', time: moment(order.ctime).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        if (order.paid_time) {
            org.push({name: '支付', time: moment(order.paid_time).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        if (order.refunding_time) {
            org.push({name: '申请退款', time: moment(order.refunding_time).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        if (order.consumed_time) {
            org.push({name: '已上课', time: moment(order.consumed_time).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        if (order.refunded_time) {
            org.push({name: '已退款', time: moment(order.refunded_time).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        if (order.completed_time) {
            org.push({name: '已完成', time: moment(order.completed_time).format('YYYY-MM-DD HH:mm:ss'), br: '<br>'});
        }
        return org;
    };
    Detail.prototype.init = function () {
        var that = this;
        G.request({
            url: "/v1/orders/" + order_id + '/admin_get',
            dataType: 'json'
        }, function (data) {
            data.recommended = data.recommended;
            data.order_amount = G.formatPrice(data.order_amount) + ' 元';
            data.class_price = G.formatPrice(data.class_price) + ' 元';
            data.pay_amount = G.formatPrice(data.pay_amount) + ' 元';
            data.statusName = that.statusMap[data.status];
            data.ctime = moment(data.ctime).format('YYYY-MM-DD HH:mm:ss');
            data.settlement = data.settlement;
            data.org = that.reorg(data);
            if (!data.settlement && data.status == 9) {
                that.$settlement.data('order-id', data.order_id);
                that.$settlement.show().click(function () {
                    var thisEle = this;
                    if (confirm('确认已经结算？')) {
                        G.request({
                            type: 'post',
                            url: '/v1/orders/' + $(thisEle).data('order-id') + '/set_settlement'
                        }, function () {
                            $('.settle_text').html('已结算');
                            $(thisEle).remove();
                        })
                    }
                });
            }
            G.request({
                url: '/admin/v1/users/admin_get?user_id=' + data.teacher_id,
                type: 'get'
            }, function (data_) {
                if (data_.status) {
                    delete  data_.status;
                }
                if (data_.ctime) {
                    delete  data_.ctime;
                }
                var data_ = _.extend({}, data, data_);
                that.$trTemp.tmpl(data_).appendTo(that.tbody);
            });
        });


        $(this.tbody).delegate('input[type="button"]', 'click', function () {
            var opt = {
                url: '/v1/orders/' + order_id + '/refund',
                type: 'post'
            };
            var that_ = this;
            if (confirm('确认退款给学生？')) {
                G.request(opt, function (data) {
                    alert('退款成功!')
                });
            }
        });
    };

    new Detail();
</script>
