<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <% include ./script/jquery.html %>
    <% include ./script/bootstrap.html %>
    <% include ./script/fontawesome.html %>
    <% include ./script/jquery.tmpl.html %>
    <% include ./script/_G_.html %>

    <style>
        .btn-default {
            text-shadow: none;
        }
        .btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
            text-shadow: 0 -1px 0 rgba(0,0,0,.2);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>
    <title>管理后台</title>
</head>
<body>
<%if(typeof(LOGIN) == 'undefined'){ %>
<%- include ./components/nav.html%>
<br/>
<br/>
<%}%>

<%if(typeof(LOGIN) == 'undefined'){ %>
    <%-body -%>
<%}else{%>
    <%-body -%>
<%}%>
<%if(typeof(LOGIN) == 'undefined'){ %>
<%- include ./components/footer.html%>

<%} %>

</body>
</html>